@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --blue-light: #2a2d4a;
    --blue-dark: #1e2241;
    --white-light: #f1f5f8;
    --white-dark: #A2A2A6;
    --green-light: #01a59f;
    --green-dark: #008677;
    --orange-light: #fb9f10;
    --red-light: #df4754;
    --red-dark: #ca224a;
  }
}

html,
body {
  background: var(--blue-dark);
  font-family: var(--font-roboto-mono);
}


